<div class="register-container">
  <h2>Registro</h2>
  <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
    
    <label for="name">Nome</label>
    <input
      type="text"
      id="name"
      name="name"
      placeholder="Digite seu nome"
      [(ngModel)]="nome"
      required
      #nomeInput="ngModel"
    >
    <div *ngIf="nomeInput.invalid && nomeInput.touched">
      O nome é obrigatório.
    </div>

    <label for="email">Email</label>
    <input
      type="email"
      id="email"
      name="email"
      placeholder="Digite seu email"
      [(ngModel)]="email"
      pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
      required
      #emailInput="ngModel"
    >
    <div *ngIf="emailInput.invalid && emailInput.touched">
      Por favor, digite um email válido!
    </div>

    <label for="password">Senha</label>
    <input
      type="password"
      id="password"
      name="password"
      placeholder="Digite sua senha"
      [(ngModel)]="senha"
      required
      minlength="4"
      #senhaInput="ngModel"
    >
    <div *ngIf="senhaInput.invalid && senhaInput.touched">
      A senha deve ter pelo menos 4 caracteres.
    </div>

    <button type="submit" [disabled]="registerForm.invalid">Cadastrar</button>
  </form>
  <br>
  <a [routerLink]="'/login'">Logar</a>

  <router-outlet></router-outlet>

  <div class="footer-text">
    &copy; 2025 MeuSite
  </div>
</div>